.bottom {
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #222;
	display: flex;
	align-items: center;
	justify-content: end;
	gap: 30px;
	padding: 10px 30px;

	@media screen and (max-width: 720px) {
		gap: 15px;
		justify-content: center;
		flex-wrap: wrap;
		padding: 10px;
	}
}

.bottom-btn {
	display: flex;
	align-items: center;
	gap: 15px;
	color: #f0f8ff;
	cursor: pointer;

	@media screen and (max-width: 720px) {
		gap: 15px;
	}
}

.bg-circle-white {
	border-radius: 50%;
	padding: 0 5px;
	background: #f0f8ff;
	color: #222;
}
